{% extends "!simple/index.html" %}

{% block extra_head %}
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/index.css" />
{% endblock %}

{% block content %}
    {% block content_title %}
        <h2>All articles</h2>
    {% endblock %}


    {% for article in articles_page.object_list %}
        <article class="list-article">
            <header> <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
            <section>{{ article.summary }}</section>
            <footer>
                <p>Published: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
                <address>By
                    {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </address>
            </footer>
        </article>
    {% endfor %}

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}

{% endblock content %}

{% block extra_body %}
    <div style="width: 100%;" id="plane-container">
        <canvas id="c"></canvas>
        <section id="plane-details">
            <h1 id="plane-tail-number"></h1>
            <p>Starting Position: <span id="plane-start-position"></span></p>
            <p>Current Position: <span id="plane-current-position"></span></p>
            <p>Heading: <span id="plane-heading"></span></p>
            <p>Speed: <span id="plane-speed"></span></p>
            <p>Altitude: <span id="plane-altitude"></span></p>
        </section>
    </div>
    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.171.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.171.0/examples/jsm/",
            "gsap": "https://unpkg.com/gsap@3.12.5/all.js"
        }
    }
    </script>
    <script type="module" src="{{ SITEURL }}/theme/js/main.js"></script>
{% endblock %}