body > main > article.list-article {
    flex: 1 1 30vw;
    width: 30vw;
    transition: all 0.5s ease-in-out;
    animation: swing-in-bottom-fwd cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-timeline: --reveal-article;

	/* Tweak range when effect should run*/
	animation-range: entry 40% cover 80%;
    view-timeline-name: --reveal-article;
	view-timeline-axis: block;
}

@keyframes swing-in-bottom-fwd {
    0% {
      transform: rotateX(100deg);
      transform-origin: bottom;
      opacity: 0;
    }
    100% {
      transform: rotateX(0);
      transform-origin: bottom;
      opacity: 1;
    }
}

article.list-article > header > h2 {
    text-align: left;
    display: block;
    font-size: 3em;
    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    margin: -0.25em 0em 0.5em 0em;
}

article.list-article > section {
    text-align: left;
    display: block;
    font-size: 1em;
}

article.list-article > section > h1 {
    font-family: "Covered by Your Grace", sans-serif;
}


body > main > article.list-article:hover {
    transform: scale(1.1) rotateX(5deg) rotateY(5deg);
    /* animation: hoverArticle 0.5s ease-in-out infinite alternate; */
}

@keyframes articleReveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}
