body > main > article.list-article {
    flex: 1 1 30vw;
    width: 30vw;
    transition: all 0.5s ease-in-out;
	/* animation: linear articleReveal both; */
}

article.list-article > header > h2 {
    text-align: left;
    display: block;
    font-size: 3em;
    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    margin: -0.25em 0em 0.5em 0em;
}

article.list-article > header > section {
    text-align: left;
    display: block;
    font-size: 1em;
}


body > main > article.list-article:hover {
    transform: scale(1.1) rotateX(5deg) rotateY(5deg);
    /* animation: hoverArticle 0.5s ease-in-out infinite alternate; */
}

@keyframes articleReveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}
