:root {
    --scroll: 0;
    --light-color: #ccd;
    --light-color-alternate: #667;
    --dark-color: #334;
    --heading-background: #112;
    --body-background: #ccc;
}

html {
    height: 100%;
}

body {
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
    font-size : 100% ;
    background-color : var(--body-background);
    color: var(--dark-color);
    min-width : 400px ;
    min-height : 500vh;
    margin: 0;
    display : block ;
    height: 100%;
}

header#top_header {
    width: 100vw;
    color: var(--light-color);
    height: 5vh;
    background-color: rgba(from var(--heading-background) r g b / 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    mask-image: linear-gradient(rgba(from var(--heading-background) r g b / 1.0) 80%, rgba(from var(--heading-background) r g b / 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header#top_header hgroup {
    margin: 0;
    padding-top: 2vh;
    transform: translateX(-40vw);
}

header#top_header hgroup h1 {
    margin: 0px;
    font-size: max(2vw, 1.2em);
}

header#top_header > nav {
    margin: 0;
    padding-top: 0vh;
    transform: translateY(-2.5vh);
    font-size: 2vh;
}

header#top_header > nav ul {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

header#top_header > nav ul li {
    display: inline;
}

header#top_header > nav ul li + li::before {
    content: " | ";
}


body > main {
    padding: 10 6vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 100%;
    color: var(--dark-color);
}

body > main::before,
body > main::after {
	content: '';
	display: block;
	position: sticky;
	left: 0em;
	right: 0em;
	height: 0.75rem;
}

body > main::before {
	top: 0;
	background: radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0));
}

body > main::after {
	bottom: 0;
	background: radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0));
}

body > footer {
    text-align: center;
    padding: 1em;
    background-color: var(--heading-background);
    color: var(--light-color);
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body > main > h2 {
    width: 90vw;
    text-align: left;
    margin: -0.5em 1em 0.2em 1em;
    display: block;
    font-size: 5em;
    font-family: "Rubik Mono One", sans-serif;
}

body > main > article {
    display: block;
    padding: 1em;
    margin: 1vh 5vw;
    border-radius: 0.5em;
    perspective: 1000px;
    box-shadow: 0.2em 0.2em 5em 0 rgba(255,255,255,0.5), -0.2em -0.2em 5em 0 rgba(0,0,0,0.5);
}

article > header > h2 {
    text-align: left;
    display: block;
    font-size: 1.4em;
    font-family: "Rubik Mono One", sans-serif;
}

article > header > section {
    text-align: left;
    display: block;
    font-size: 1em;
}

article > footer {
    text-align: right;
    font-size: 0.8em;
    color: var(--light-color-alternate);
}

a:link    {
    color : inherit !important;
    text-decoration : none;
    animation: none;
}

a:hover   {
    color : inherit !important;
    /* color : #ccd; */
    text-decoration: none;
    animation: aLinkHover 0.5s ease-in-out infinite alternate;
}

a:visited {
    color : inherit !important;
    /* color : #ccd; */
    text-decoration : none;
}

@keyframes aLinkHover {
    from {
        opacity: 1.0;
        transform: scale(1.0);
    }
    to {
        opacity: 0.8;
        transform: scale(1.25);
    }
}

h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

pre {
    margin : 2em 1em 2em 4em ;
}

#menu li {
    display : inline ;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
}