html {
    height: 100%;
}

body {
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
    font-size : 100% ;
    background-color : #999 ;
    color: #ccd;
    /* width : 80% ; */
    min-width : 400px ;
    min-height : 200px ;
    /* padding : 1em ;
    margin : 5% 10% ; */
    margin: 0;
    /* border : thin solid gray ;
    border-radius : 5px ; */
    display : block ;
    height: 100%;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    z-index: -11;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

hgroup {
    height: 100vh;
    width: 100%;
    font-size: 50pt;
    color: #ccd;
    backdrop-filter: grayscale(0.8) blur(2px);
    background-clip: text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* mask: radial-gradient(circle, rgba(1, 1, 1, 1) 50%, rgba(0, 0, 0, 0) 100%); */
}

nav {
    backdrop-filter: grayscale(0.8) blur(2px);
    padding: 10px;
    mask: linear-gradient(rgba(1,1,1,1) 0%, rgba(0,0,0,0) 100%); 
}

a:link    { 
    color : #ccd;
    text-decoration : none;
    animation: none;
}
a:hover   { 
    color : #ccd;
    text-decoration: none;
    animation: aLinkHover 0.5s ease-in-out infinite alternate;
}

@keyframes aLinkHover {
    from {
        opacity: 1.0;
        transform: scale(1.0);
    }
    to {
        opacity: 0.8;
        transform: scale(1.25);
    }
}

h1 {
    margin: 0px;
    font-size: 15vw;
}

nav ul {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

pre {
    margin : 2em 1em 2em 4em ;
}

#menu li {
    display : inline ;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
}

#c {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -10;
    border: none;
    /* pointer-events: none; */
 }