:root {
    --scroll: 0;
    --light-color: #ccd;
    --light-accent: #eef;
    --light-color-alternate: #667;
    --dark-color: #334;
    --heading-background: #112;
    --body-background: #ccc;
    --min-height: 500vh;
}

html {
    height: 100%;
}

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: 400;
    font-style: normal;
    font-size : 100% ;
    background-color : var(--body-background);
    color: var(--dark-color);
    min-width : 400px;
    min-height : var(--min-height);
    margin: 0;
    display : block;
    height: 100%;
}

header#top_header {
    font-family: "Covered By Your Grace", serif;
    width: 100vw;
    color: var(--light-color);
    height: 5vh;
    background-color: rgba(from var(--heading-background) r g b / 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header#top_header hgroup {
    margin: 0;
    padding-top: 2vh;
    transform: translateX(-40vw);
}

header#top_header hgroup h1 {
    margin: 0px;
    font-size: max(2vw, 1.2em);
}

header#top_header > nav {
    margin: 0;
    padding-top: 0vh;
    transform: translateY(-2.5vh);
    font-size: 2vh;
}

header#top_header > nav ul {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

header#top_header > nav ul li {
    display: inline;
}

header#top_header > nav ul li + li::before {
    content: " | ";
}

div#head_svg_container {
    z-index: -1;
    position: fixed;
    top: 2.2vh;
    left: -3vw;
    width: 3vw;
    height: 3vh;
}

svg#head_svg {
    width: 100%;
    height: 100%;
    fill: var(--light-color);
    transform: rotate(-8deg);
}

svg#head_svg path#gear {
    animation: rotateGear 5s linear infinite;
}

svg#head_svg path#bulb {
    fill: var(--light-accent);
    animation: flicker 20s ease-in infinite forwards;
}

@keyframes rotateGear {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

@keyframes flicker {
    0% {
        transform: scale(0.1);
        opacity: 0;
        fill: var(--light-accent);
    }
    45% {
        transform: scale(0.1);
        opacity: 0;
        fill: var(--light-accent);
    }
    47% {
        transform: scale(1.2);
        opacity: 1;
        fill: var(--light-color);
    }
    50%,60% {
        transform: scale(1.0);
        opacity: 1;
        fill: var(--light-accent);
    }
    61% {
        transform: rotate(-6deg);
    }
    62% {
        transform: rotate(6deg);
    }
    63% {
        transform: rotate(-3.6deg);
    }
    64% {
        transform: rotate(2.4deg);
    }
    65% {
        transform: rotate(-1.2deg);
    }
    66% {
        transform: rotate(0.8deg);
    }
    67%, 70% {
        transform: scale(1.0);
        opacity: 1;
        fill: var(--light-accent);
    }
    71% {
        transform: rotate(-6deg);
    }
    72% {
        transform: rotate(6deg);
    }
    73% {
        transform: rotate(-3.6deg);
    }
    74% {
        transform: rotate(2.4deg);
    }
    75% {
        transform: rotate(-1.2deg);
    }
    76% {
        transform: rotate(0.8deg);
    }
    77%, 80% {
        transform: scale(1.0);
        opacity: 1;
        fill: var(--light-accent);
    }
    81% {
        transform: rotate(-6deg);
    }
    82% {
        transform: rotate(6deg);
    }
    83% {
        transform: rotate(-3.6deg);
    }
    84% {
        transform: rotate(2.4deg);
    }
    85% {
        transform: rotate(-1.2deg);
    }
    86% {
        transform: rotate(0.8deg);
    }
    87%, 90% {
        transform: scale(1.0);
        opacity: 1;
        fill: var(--light-accent);
    }
    98% {
        transform: scale(0.8);
        opacity: 0.8;
        fill: var(--light-color);
    }
    100% {
        transform: scale(0.1);
        opacity: 0;
        fill: var(--light-accent);
    }
}

body > main {
    padding: 5vh 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 100%;
    color: var(--dark-color);
}

body > main::before,
body > main::after {
	content: '';
	display: block;
	position: sticky;
	left: 0em;
	right: 0em;
	height: 0.75rem;
}

body > main::before {
	top: 0;
	background: radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0));
}

body > main::after {
	bottom: 0;
	background: radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0));
}

body > footer {
    text-align: center;
    padding: 1em;
    background-color: var(--heading-background);
    color: var(--light-color);
    font-size: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Covered by Your Grace", sans-serif;
}

body > footer > a {
    color: var(--light-accent) !important;
    text-decoration: none;
    font-family: "Covered by Your Grace", sans-serif;
}

body > footer > address {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
}

body > main > h2,
body > main > article > header > h2 {
    width: 90vw;
    text-align: left;
    margin: -0.25em 0em 0.5em 0em;
    display: block;
    font-size: 5em;
    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    width: 100%;
}

body > main > article {
    display: block;
    position: relative;
    background-color: var(--body-background);
    padding: 1em;
    margin: 1vh 5vw;
    border-radius: 0.5em;
    perspective: 1000px;
    box-shadow: 0.2em 0.2em 5em 0 rgba(255,255,255,0.5), -0.2em -0.2em 5em 0 rgba(0,0,0,0.5);
}

article > h1 {
    font-family: "Covered by Your Grace", sans-serif;
    font-size: 3em;
    text-align: left;
    margin: 1em 0em 0.5em 0em;
    width: 100%;
}

article > h2 {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 1.3em;
    text-align: left;
    margin: 1.5em 0em 0em 0em;
    width: 100%;
}

article > h3 {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 1em;
    text-align: left;
    margin: 0.5em 0em 0.5em 0em;
    width: 100%;
}

article > h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 800;
    text-align: left;
    color: var(--light-color-alternate);
    margin: 0.5em 0em 0.5em 0em;
    width: 100%;
}

article > footer {
    font-family: "Covered by Your Grace", sans-serif;
    text-align: right;
    font-size: 0.8em;
    color: var(--light-color-alternate);
}

a:link    {
    color : inherit !important;
    text-decoration : none;
    animation: none;
}

a:hover   {
    color : inherit !important;
    text-decoration: none;
    animation: aLinkHover 0.5s ease-in-out infinite alternate;
}

a:visited {
    color : inherit !important;
    text-decoration : none;
}

@keyframes aLinkHover {
    from {
        opacity: 1.0;
        transform: scale(1.0);
    }
    to {
        opacity: 0.8;
        transform: scale(1.25);
    }
}

h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

pre {
    margin : 2em 1em 2em 4em ;
}

#menu li {
    display : inline ;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
}

div#planetary_gears_container {
    position: fixed;
    bottom: -20vh;
    right: -30vw;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

svg#planetary_gears {
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

svg#planetary_gears g#solarsystem {
    transform: translate(60.5px, 60.5px) rotate(0deg);
    animation: rotatePlanets 10.6666s linear infinite;
}

svg#planetary_gears g#sun {
    transform: translate(60.5px, 60.5px) rotate(0deg);
}

svg#planetary_gears g#planets {
    transform: translate(60.5px, 60.5px) rotate(0deg);
    animation: rotatePlanets 16s linear infinite;
}

svg#planetary_gears g#planets g#planet1 {
    transform: translate(-9px, 40px) rotate(0deg);
    animation: rotatePlanet1 8s linear infinite;
}

svg#planetary_gears g#planets g#planet2 {
    transform: translate(38px,-14px) rotate(9deg);
    animation: rotatePlanet2 8s linear infinite;
}

svg#planetary_gears g#planets g#planet3 {
    transform: translate(-33px,-24px) rotate(-18deg);
    animation: rotatePlanet3 8s linear infinite;
}

@keyframes rotatePlanets {
    from {
        transform: translate(60.5px, 60.5px) rotate(0deg);
    }
    to {
        transform: translate(60.5px, 60.5px) rotate(360deg);
    }
}

@keyframes rotatePlanet1 {
    from {
        transform: translate(-9px, 40px) rotate(0deg);
    }
    to {
        transform: translate(-9px, 40px) rotate(360deg);
    }
}

@keyframes rotatePlanet2 {
    from {
        transform: translate(38px,-14px) rotate(9deg);
    }
    to {
        transform: translate(38px,-14px) rotate(369deg);
    }
}

@keyframes rotatePlanet3 {
    from {
        transform: translate(-33px,-24px) rotate(-18deg);
    }
    to {
        transform: translate(-33px,-24px) rotate(342deg);
    }
}

div#plane-container {
    text-align: center;
    width: 100%;
}

section#plane-details {
    display: block;
    position: absolute;
    background-color: var(--body-background);
    padding: 1em;
    border-radius: 0.5em;
    perspective: 1000px;
    box-shadow: 0.2em 0.2em 5em 0 rgba(255,255,255,0.5), -0.2em -0.2em 5em 0 rgba(0,0,0,0.5);
    font-size: 0.5em;
    width: 150px;
    bottom: 15px;
    height: 90px;
    right: 10px;
    text-align: left;
    opacity: 0;
    z-index: 2;
}

section#plane-details > h1 {
    text-align: left;
    display: block;
    font-size: 3em;
    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    margin: -0.25em 0em 0.25em 0em;
}

section#plane-details > p {
    margin: 0;
    line-height: 1.5em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

label {
    font-family: "Covered by Your Grace", sans-serif;
    color: var(--dark-color);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input {
    background-color: var(--light-accent);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: rgba(from var(--heading-background) r g b / 1.0);
}

input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

input:focus {
    border-color: var(--dark-color);
}

input[type="submit"] {
    background-color: purple;
    width: 180px;
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Covered by Your Grace", sans-serif;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: indigo;
}

input[type="submit"]:active {
    background-color: darkblue;
}

textarea {
    background-color: var(--light-accent);
    width: 100%;
    height: 100px;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--dark-color);
}

textarea:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

textarea:focus {
    border-color: var(--dark-color);
}

select {
    background-color: var(--light-accent);
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

select:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

select:focus {
    border-color: var(--dark-color);
}